# Ignore everything in the root except the "wp-content" directory.

/*

!.gitignore

!wp-content/

!fonts/

# Ignore everything in the "wp-content" directory, except the "plugins"

# and "themes" directories.

wp-content/*

!wp-content/plugins/

!wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins you

# specify (see the commented-out examples for hints on how to do this.)

wp-content/plugins/*


# Ignore base/common themes, assume anything else in the "themes" directory

# is custom.

wp-content/themes/michelecheow

wp-content/themes/genesis
wp-content/themes/twentyseventeen

# Apple stuff

.DS_Store

.AppleDouble

.LSOverride

Icon

# Backups and such

*.zip

*.tar.gz

*.http://tar.bz

# Thumbnails

._*

# Files that might appear on external disk

.Spotlight-V100

.Trashes

*.pydevproject

.project

.metadata

bin/**

tmp/**

tmp/**/*

*.tmp

*.bak

*.swp

*~.nib

local.properties

.classpath

.settings/

.loadpath

# External tool builders

.externalToolBuilders/

# Locally stored "Eclipse launch configurations"

*.launch

# CDT-specific

.cproject

# PDT-specific

.buildpath

# Codekit

*codekit*
